# Challenge

## Importing Pandas, Data, & Other Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [7]:
oo = pd.read_csv('../data/olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

## In every Olympics, which US athlete has won the most total number of medals? Include the Athlete's discipline.

In [8]:
oo = oo[oo.NOC == 'USA']
oo = oo.groupby(['Edition', 'Athlete','Medal','Discipline']).size().unstack('Medal',fill_value=0)
oo

Medal                               Bronze  Gold  Silver
Edition Athlete         Discipline
1896    BLAKE, Arthur   Athletics        0     0       1
        BURKE, Thomas   Athletics        0     2       0
        CLARK, Ellery   Athletics        0     2       0
        CONNOLLY, James Athletics        1     1       1
        CURTIS, Thomas  Athletics        0     1       0
...                                    ...   ...     ...
2008    WILLOUGHBY, Kim Volleyball       0     0       1
        WINDES, Elsie   Water polo       0     0       1
        WINEBERG, Mary  Athletics        0     1       0
        WRIGHT, Adam    Water polo       0     0       1
        ZAGUNIS, Mariel Fencing          1     1       0

[3564 rows x 3 columns]

In [9]:
oo['Total'] = oo['Gold'] + oo['Silver'] + oo['Bronze']
oo

Medal                               Bronze  Gold  Silver  Total
Edition Athlete         Discipline
1896    BLAKE, Arthur   Athletics        0     0       1      1
        BURKE, Thomas   Athletics        0     2       0      2
        CLARK, Ellery   Athletics        0     2       0      2
        CONNOLLY, James Athletics        1     1       1      3
        CURTIS, Thomas  Athletics        0     1       0      1
...                                    ...   ...     ...    ...
2008    WILLOUGHBY, Kim Volleyball       0     0       1      1
        WINDES, Elsie   Water polo       0     0       1      1
        WINEBERG, Mary  Athletics        0     1       0      1
        WRIGHT, Adam    Water polo       0     0       1      1
        ZAGUNIS, Mariel Fencing          1     1       0      2

[3564 rows x 4 columns]

In [10]:
oo.reset_index(inplace=True)
oo

Medal  Edition          Athlete  Discipline  Bronze  Gold  Silver  Total
0         1896    BLAKE, Arthur   Athletics       0     0       1      1
1         1896    BURKE, Thomas   Athletics       0     2       0      2
2         1896    CLARK, Ellery   Athletics       0     2       0      2
3         1896  CONNOLLY, James   Athletics       1     1       1      3
4         1896   CURTIS, Thomas   Athletics       0     1       0      1
...        ...              ...         ...     ...   ...     ...    ...
3559      2008  WILLOUGHBY, Kim  Volleyball       0     0       1      1
3560      2008    WINDES, Elsie  Water polo       0     0       1      1
3561      2008   WINEBERG, Mary   Athletics       0     1       0      1
3562      2008     WRIGHT, Adam  Water polo       0     0       1      1
3563      2008  ZAGUNIS, Mariel     Fencing       1     1       0      2

[3564 rows x 7 columns]

In [16]:
ty = [group.sort_values('Total',ascending=False)[:1] for year,group in oo.groupby('Edition')]

In [17]:
top = pd.DataFrame()
for i in ty:
    top.append(i)

AttributeError: 'DataFrame' object has no attribute 'append'