# Challenge

## Importing Pandas, Data, & Other Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
oo = pd.read_csv('../data/olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

## In every Olympics, which US athlete has won the most total number of medals? Include the Athlete's discipline.

In [18]:
oo = oo[oo.NOC == 'USA']
g = oo.groupby(['Edition', 'Athlete','Medal','Discipline']).size().unstack('Edition',fill_value=0)

In [19]:
g['Total'] = g['Gold'] + g['Silver'] + g['Bronze']
g

KeyError: 'Gold'